<header class="site-header">
    <div class="logo">
        <a href="index.html"><img src="././assets/icons/image.png" alt=""></a>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="index.html" data-i18n="nav_home">Home</a></li>
            <li><a href="services.html" data-i18n="nav_services">Services</a></li>
            <li><a href="#contact" data-i18n="nav_contact">Contact</a></li>
        </ul>
    </nav>
    <div class="lang-switch">
        <button onclick="setLanguage('en')">EN</button>
        <button onclick="setLanguage('ar')">AR</button>
    </div>
</header>
